
.header-font {
    font-family: 'Montserrat', sans-serif;
}

.body-font {
    font-family: 'Open Sans', sans-serif;
}


.custom-bg {
    background-color: #4D2D52; 
}

.bg-main {
    background-color: #5c1958; 
}

.bg-card {
    background-color: #9A4C95; 
}


.table-primary.custom-thead th {
    background-color: #9A4C95 !important;
    color: white !important;
    border-color: #dddddd !important;
}

table td {
    background-color: #6F3A6E !important; 
    color: white !important;
}


.skill-card {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}

.skill-card:hover {
    transform: scale(1.05) translateY(-5px);
    background-color: #c46ec1;
    box-shadow: 0 10px 20px rgba(255, 0, 255, 0.4) !important;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(255, 0, 251, 0.5) !important;
}


.btn-primary.download-btn {
    background-color: #982598;
    border-color: #982598;
    transition: all 0.3s ease;
}

.btn-primary.download-btn:hover {
    background-color: #c94ec9;
    border-color: #c94ec9;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8) !important;
}
a.link {
    color:rgb(223, 154, 223);
}


html {
    scroll-padding-top: 80px;
}
